/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

image{
  height: 200px;
  width: 200px;
}
.board{
  height: 1000px;
}