/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body{
  background-image: url("http://www.thehavelockrams.com/havelockramsreunion/1987/oldphotos/10%20year%20reunion.jpg");
}

.asteroid, image{
  height: 100px;
  width: 100px;
  border: 1px solid red;
  stroke: red;
}
.board{
  height: 1000px;
}


h1{
  color: white;
}